snippet box
	padding : auto auto auto auto;
	border  : auto auto auto auto;
	margin  : auto auto auto auto;
snippet display
	display : ${1:none/block/inline};
snippet bgc
	background-color : #{1:FFFFFF};
snippet height
	height : ${1:em/px/%};
snippet width
	width : ${1:em/px/%};
snippet float
	float : ${1:left/right/none/inherit}
snippet padding
	padding : auto auto auto auto;
snippet border
	border  : auto auto auto auto;
snippet margin
	margin  : auto auto auto auto;
